@import "tailwindcss";

@media(prefers-color-scheme: light) {
  :root {
    /* --background: rgb(20 23 34);
    --foreground: rgb(245 245 245); */
    --font-geist-sans: 'Geist Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-geist-mono: 'Geist Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --primary: #3b82f6;
    --secondary: #8b5cf6;
    --muted: #64748b;
    --background: #e9e2e2;
    --foreground: #0f172a;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary: #3b82f6;
    --color-secondary: #8b5cf6;
    --color-muted: #64748b;
  }
}

.dark {
  @theme inline {
    --color-background: #081b29;
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary: #60a5fa;
    --color-secondary: #a78bfa;
    --color-muted: #94a3b8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}